
.container {
    background-color: lightpink;
    width: 768px;
    height: 768px;

    position: relative;
}

/* (A) SPEECH BOX */
.speech {
    /* (A1) FONT & COLORS */
    font-size: 1em;
    color: #fff;
    background: rgb(0,0,0,0.9);
  
    /* (A2) DIMENSIONS */
    padding: 20px;
    border-radius: 20px;
    width: 100px;

    z-index: 1;
    display: none;
  }
  
  /* (B) USE ::AFTER TO CREATE THE "CALLOUT" */
  .speech::after {
    display: block; 
    width: 0; 
    content: "";
    border: 1rem solid transparent;
  }
   
  /* (C) "CALLOUT" DIRECTIONS */
  /* .speech.up::after {
    border-bottom-color: rgb(0,0,0,0.9);
    border-top: 0;
  }
  .speech.down::after {
    border-top-color: rgb(0,0,0,0.9);
    border-bottom: 0;
  } */
  .speech.left::after {
    border-right-color: rgb(0,0,0,0.9);
    border-left: 0;
  }
  .speech.right::after {
    border-left-color: rgb(0,0,0,0.9);
    border-right: 0;
  }
  
  /* (D) POSITION THE CALLOUT */
  .speech {
    position: absolute;
  }
  .speech::after { position: absolute; }
  /* .speech.up::after {
    top: -15px; left: calc(50% - 15px);
  }
  .speech.down::after {
    bottom: -15px; left: calc(50% - 15px);
  } */
  .speech.left::after {
    left: -0.9rem; top: calc(50% - 1rem);
  }
  .speech.right::after {
    right: -0.9rem; top: calc(50% - 1rem);
  }
  